# Ignore Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Ignore Streamlit cache
.streamlit/

# Ignore Data folder
Data

# Ignore Chroma persistence folder
chroma_persist/

# Ignore other OS files
.DS_Store
Thumbs.db
